<!doctype html>
<html lang='en' ng-app='LeftFieldLabs.CodingExercise'>
<head>
	<meta charset='utf-8'/>
	<title>Deavon + Left Field Labs</title>
	<meta name='description' content='Deavon <3 Left Field Labs'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
	<meta name='robots' content='noindex, nofollow'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Dosis:200,600|Mr+Dafoe|Open+Sans:300,400,600,700'>
	<link rel='stylesheet' type='text/css' href='app/assets/css/home.css'/>
	<link href='app/assets/img/favicon-32x32.png' rel='shortcut icon'/>
</head>
<body>

	<div id='content' ng-view ng-controller='HomeController'>

		<header class='top-bar'>
			<div class='inner'>
				<a class='logo' href='/' title='Google'>
					<embed src='app/assets/img/logo-google-white.svg' type='image/svg+xml' alt='Google'></embed>
				</a>
			</div>
		</header>

		<section class='row1'>
			<div class='hero video show'>
				<div>
					<div class='cover'></div>
					<video class='video-player' autoplay loop muted>
						<source src='app/assets/videos/earth.mp4' type='video/mp4; codecs=&quot;avc1.4D401F, mp4a.40.2&quot;'>
					</video>
				</div>
			</div>
			<div class='full-parent-table'>
				<div class='child-cell'>
					<h3 class='fit' fit-text='55,14,38'>Tour Google for</h3>
					<h2 class='fit' fit-text='22,20,192'>A World of Difference</h2>
					<h3 class='fit' fit-text='75,12,32'>in how you search</h3>
				</div>
			</div>
			<div class='bottom'>
				<div class='child-cell'>
					<a class='scroll-arrow-button' href='#row1'></a>
				</div>
			</div>
		</section>

		<div class='sig'></div>

		<section id='row1' class='row-product'>
			<div class='full-parent-table'>
				<div class='child-cell'>

					<p>Origin:</p>

					<h3 class='fit' fit-text='22,20,192'>
						<span class='typcn typcn-home'></span>
						{{ origin.niceName }}
					</h3>

					<p>{{ origin.mailingAddress }}</p>

				</div>
			</div>
			<div class='bottom'>
				<div class='child-cell'>
					<a ng-if='!$last' class='scroll-arrow-button' href='#row2'></a>
				</div>
			</div>
		</section>

		<section id='row{{ $index + 2 }}' ng-repeat='location in destinations | filter:q as results' class='row-product'>
			<div class='full-parent-table'>
				<div class='child-cell'>

					<p>Destination:</p>

					<h3 class='fit' fit-text='22,20,192'>
						<span class='typcn typcn-location'></span>
						{{ location.niceName }}
					</h3>
					<h3 ng-if='location.distance' class='fit' fit-text='30,16,36'>{{ location.distance | number:0 }} miles from Left Field Labs</h3>

					<p>{{ location.mailingAddress }}</p>

				</div>
			</div>
			<div class='bottom'>
				<div class='child-cell'>
					<a ng-if='!$last' class='scroll-arrow-button' href='#row{{ $index + 3 }}'></a>
				</div>
			</div>
		</section>


	</div>

	<script type='text/javascript' src='app/all.min.js'></script>
</body>
</html>