<div>
	<header class='top-bar'>
		<div class='inner'>
			<ul class='global-nav'>
				<li>
					<button class='icon' ng-click='NavigateRandomDestination'>
						<span class='typcn typcn-location-arrow'></span>
						<p>Random Destination</p>
					</button>
				</li>
				<!--<li ng-repeat='location in locations | filter:q as results' class='{{ location.itemClass }}'>-->
				<!--<button class='icon'>-->
				<!--<span class='typcn typcn-location'></span>-->
				<!--</button>-->
				<!--<p>{{ location.niceName }}</p>-->
				<!--</li>-->
			</ul>

			<a class='logo' href='/' title='Google'>
				<!--<embed src='app/img/logo-google-flat.svg' type='image/svg+xml' alt='Google'></embed>-->
				<embed src='app/assets/img/logo-google-white.svg' type='image/svg+xml' alt='Google'></embed>
			</a>
		</div>
	</header>

	<section class='row1'>
		<div class='hero video show'>
			<div>
				<div class='cover'></div>
				<video class='video-player' autoplay loop muted>
					<source src='app/assets/videos/earth.mp4' type='video/mp4; codecs=&quot;avc1.4D401F, mp4a.40.2&quot;'>
				</video>
			</div>
		</div>
		<div class='full-parent-table'>
			<div class='child-cell'>
				<h3 class='fit' data-fit='55,14,38'>Tour Google for</h3>
				<h2 class='fit' data-fit='22,20,192'>A World of Difference</h2>
				<h3 class='fit' data-fit='75,12,32'>in how you search</h3>
			</div>
		</div>
		<div class='bottom'>
			<div class='child-cell'>
				<a class='scroll-arrow-button' href='#row2'></a>
			</div>
		</div>
	</section>

	<div class='sig'></div>

	<section id='row2' class='row-product' style='background: #f8f8f8'>
		<div class='full-parent-table'>
			<div class='child-cell'>

				<img src='app/assets/img/icon-google-search.png' alt='Google Search icon'/>

				<h3 class='fit' data-fit='30,16,36'>321 mi</h3>
				<h3 class='fit' data-fit='30,16,36'>Golden Gate Bridge</h3>

				<p>Golden Gate Bridge, California</p>
				<p>100.621321321, 32.321321324</p>

			</div>
		</div>
		<div class='bottom'>
			<div class='child-cell'>
				<a class='scroll-arrow-button' href='#row3'></a>
			</div>
		</div>
	</section>
</div>