// Written by Deavon Barlow <deavonb@gmail.com>

/* ==========================================================================
GLOBAL COLOR PALETTE
========================================================================== */
@color-offblack: #1a1a1a;
@color-offwhite: #ededed;
@color-google-blue: #4285f4;
@color-google-blue2: #1643EC;
@color-google-red: #d84437;
@color-google-yellow: #f4b400;
@color-google-green: #0f9d58;
@color-google-grey: #3b3b3b;

//@color-light-blue: #76a4c6;
//@color-medium-blue: #336b9c;
//@color-dark-blue: #304352;
//@color-tan: #cbaf72;
//@color-light-brown: #805745;
//@color-dark-brown: #5d4239;


/* ==========================================================================
GLOBAL OFFSETS
========================================================================== */
@global-max-width:		960px;
@global-top-bar-height:	75px;

@z-index-opener:		1001;
@z-index-top-bar:		1000;
@z-index-contact-flair: 10;