// Written by Deavon Barlow <deavonb@gmail.com>

/* ==========================================================================
IMPORTS
========================================================================== */
// LESS "mix-ins" for all prefix properties
@import '../../../bower_components/lesshat/build/lesshat';
// normalize styles between browsers
@import '../../../bower_components/normalize-less/normalize';
// load some symbol fonts
@import '../../../bower_components/typicons.font/src/font/typicons.min.css';
@import '../../../bower_components/entypo-plus/css/entypo-plus.css';

@import '_responsivegrid';
@import '_variables';


/* ==========================================================================
GLOBAL TAG & .CLASS
========================================================================== */
body,
html {
	background-color: @color-offwhite;
	color: @color-offblack;
	height: 100%;
	position: relative;
}

body {
	font: 13px/15px 'Open Sans', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
	font-weight: 300;
	line-height: 1em;
	max-width: @global-max-width;
}

p {
	max-width: @global-max-width;
}

footer {
}

a.scroll-arrow-button {
	background: url(//www.google.com/maps/about/images/treks/galapagos/scroll-arrow.png) no-repeat 0 0;
	background-size: cover;
	display: block;
	margin: 0 auto;
	.transition(transform .3s ease-in-out);
	transform: translatez(0);
	height: 61px;
	width: 61px;
}

.sig {
	max-width: @global-max-width;
	margin: auto;
	//margin-top: 2em;
	height: 4px;

	&.footer {
		margin-top: 5em;
	}

	&:after,
	&:before {
		content: "";
		float: right;
		height: 4px;
	}

	&:before {
		border-left: 35px solid @color-google-yellow;
		border-right: 34px solid @color-google-green;
	}

	&:after {
		border-left: 34px solid @color-google-blue;
		border-right: 35px solid @color-google-red;
	}
}


/* ==========================================================================
TOP BAR
========================================================================== */
header.top-bar {
	width: 100%;
	z-index: 100;
	position: fixed;

	.inner {
		margin: 0 auto;
		max-width: @global-max-width;
		padding: 20px 15px 15px;
		position: relative;

		.logo {
			embed,
			svg {
				width: 90px;
				height: 54px;
			}
		}

		ul.global-nav {
			float: right;

			li {
				list-style: none;

				button {
					background: 0;
					border: 0;
					color: @color-offwhite;
					float: left;
					outline: 0;

					&:hover {
						text-decoration: underline;
					}
					&:active {
						text-decoration: none;
					}

					p {
						display: inline;
						margin: 0;
					}

					.icon {
						font-size: 22px;
					}
				}
			}
		}
	}
}