// Written by Deavon Barlow <deavonb@gmail.com>

/* ==========================================================================
IMPORTS
========================================================================== */
@import '../../../bower_components/lesshat/build/lesshat'; // LESS "mix-ins" for all prefix properties
@import '_variables';
@import 'global';


/* ==========================================================================
GLOBAL CLASSES
========================================================================== */
.video {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&.show {
		opacity: 1;
	}

	> div {
		position: relative;
		overflow: hidden;
	}

	.cover {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.6;
		background: #000;
		width: 100%;
		height: 100%;
	}
}

.video {
	.transition(~'opacity 1.5s ease-in');
}


/* ==========================================================================
SECTIONS
========================================================================== */
#content {
	background: @color-google-grey;

	> section {
		background-position: 50% 50%;
		background-size: cover;
		display: table;
		position: relative;
		text-align: center;
		width: 100%; height: 700px;

		h1, h2, h3, h4, p, img.down-arrow {
			// color: #fff;
			margin: 0 auto;
		}

		h1, h2 {
			text-transform: uppercase;
		}

		h1 {
			font-family: 'Dosis';
			font-weight: 200;
		}

		h2 {
			font-family: 'Dosis';
			font-weight: 200;
			letter-spacing: 0.35em;
		}

		p {
			font-family: 'Open Sans';
			line-height: 2em;
			margin-top: 3em;
			width: 66%;
		}

		embed {
			max-width: @global-max-width;
			width: 80%; height: auto;
		}
	}

	> section,
	.rslides > li {
		display: block;
		position: relative;

		> .child-cell {
			display: table-cell;
			max-width: @global-max-width;
			vertical-align: middle;
			width: 100%; height: 100%;
		}

		> .full-parent-table {
			border: solid 5% transparent;
			box-sizing: border-box;
			display: table;
			position: absolute;
			width: 100%; height: 100%;

			.child-cell {
				display: table-cell;
				max-width: @global-max-width;
				vertical-align: middle;
				width: 100%; height: 100%;
			}
		}
		.bottom {
			display: table;
			position: absolute;
			bottom: 0;
			width: 100%; height: 25%;

			.child-cell {
				display: table-cell;
				margin: 0 auto;
				vertical-align: middle;
				width: 100%; height: 100%;
			}
		}
	}

	/* --- FIRST: YOUNG & UNITED --- */

	section.row1 {
		// background-image: url(~"{{ 'about-row1-1.jpg' | asset_url }}");
		background-position: 66% 50%;
		height: 700px;
		overflow: hidden;

		.video {
			background: #3b3b3b;

			.cover {
				background: #000018;
				opacity: 0.5;
			}
			video {
				.filter(grayscale(1));
				.opacity(0.4);
			}
		}

		.full-parent-table {

			embed {
				width: 70%;
				height: auto;
			}
			h2 {
				color: #eee;
				font-family: 'Dosis';
				font-weight: 200;
				letter-spacing: 0.35em;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				text-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
			}
			h3 {
				color: #888;
				font-weight: 500;
				letter-spacing: 0.2em;
				text-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
				text-transform: uppercase;
			}
			p {
				line-height: 1.9em;
				margin-top: 2.5em;
				width: 50%;
			}
			img {

			}
		}

	}


	/* --- THIRD: CREATE --- */


	section.row-product {

		h3 {
			margin-top: 1em;
		}
		p {
			margin-top: 3em;
		}
		a {
			color: #245dc1;
			text-decoration: none;

			&:visited {
				color: #7759ae;
			}
			&:hover {
				text-decoration: underline;
			}
		}

	}

	section.blue,
	section.red,
	section.gray {

		h2,
		h3,
		p {
			color: #eee;

			a {
				color: #eee;
				text-decoration: underline;

				&:visited {
					color: #eee;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	#row1 { background: @color-google-grey; color: @color-offwhite; }

	#row2 { background: @color-google-green; color: @color-offwhite; }

	#row3 { background: @color-google-blue; color: @color-offwhite; }

	#row4 { background: @color-google-yellow; color: @color-offwhite; }

	#row5 { background: @color-google-red; color: @color-offwhite; }

	#row6 { background: @color-google-blue2; color: @color-offwhite; }

	#row7 { background: @color-google-red; color: @color-offwhite; }

	#row8 { background: @color-google-green; color: @color-offwhite; }

}


/* ==========================================================================
MEDIA QUERIES
========================================================================== */
@media screen and (max-width: 480px)
{
	#content {

	}
}

@media screen and (max-width: 639px)
{
	.top-bar nav ul {
		display: none;
	}
}